@model List<Chefs>
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <br />
            <h2>الطباخين</h2>
            <p>معلومات <span>عن</span> الطباخين</p>
        </div>

        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img style="width:350px" src="~/Images/@item.ImagePath" class="img-fluid" alt="">
                            <div class="social">
                                <a href="@item.Twitter"><i class="bi bi-twitter btn btn-dark"> </i></a>
                                <a href="@item.Facebook"><i class="bi bi-facebook btn btn-dark"></i></a>
                                <a href="@item.Instagram"><i class="bi bi-instagram btn btn-dark"></i></a>
                                <a href="@item.LinkedIn"><i class="bi bi-linkedin btn btn-dark"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>@item.Name</h4>
                            <span>@item.Officium</span>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>

                <!-- End Chefs Member -->
            }
            

        </div>

    </div>
</section>1`